# delay queue config
delay_queue:
  bind_address: ":8000"     # listen address
  bucket_name:  "dq_bucket" # bucket redis key name
  bucket_size:   2          # the number of delay queue bucket.
                            # increase number could get better concurrency.
  queue_name:   "dq_queue"  # queue redis key name

# redis config
redis:
  network:       "tcp"             # redis network: tcp, unix
  address:       "127.0.0.1:6379"  # host:port address.
  dial_timeout:  5000000000        # dial timeout for establishing new connections.
                                   # default is 5 seconds.
  read_timeout:  2000000000        # timeout for socket reads. If reached, commands will fail
                                   # with a timeout instead of blocking. Use value -1 for no timeout and 0 for default.
  write_timeout: 2000000000        # timeout for socket writes. If reached, commands will fail
                                   # with a timeout instead of blocking.
  username:      ""                # redis username
  password:      ""                # redis password
  DB:            0                 # redis database
  PoolSize:      80                # maximum number of socket connections.
                                   # default is 10 connections per every CPU as reported by runtime.NumCPU.